*, *:before, *:after
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color:white;
  font-size: 17px;
}


.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background-image: url('../assets/images/background_christmas.jpg');
  background-size: cover;
  background-position: center center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 300px;
}

@media (max-width: 700px) {
  .content {
    /*flex-direction: row;*/
  }
}

.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-image: url('../assets/images/background-christmas-footer.jpg');
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0; 
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 920px;
  min-height: 60px;
  color: #646464;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 100%;
}

.footer__container a {
  color: #646464;
  text-decoration: none;
}

.footer__container ul{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: .8rem;
}

.footer__container li{
  padding: 2px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 700px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__container li{
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer__logo,
.footer__info {
  border-right: none;
}
@media (min-width: 700px) {
  .footer__logo,
  .footer__info {
    border-right: 1px solid gray;
  }
}

.footer__logo,
.footer__info,
.footer__address {
  width: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 20px;
}

@media (max-width: 700px) {
  .footer__logo,
  .footer__info,
  .footer__address {
    width: 100%;
  }
}


.footer__logo img{
  width: 100px;
  height: auto;
}

.content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  -ms-flex-item-align:stretch;
      align-self:stretch;
  padding: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
  max-width: 780px;
}

.sketchfab-embed-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: auto;
  -ms-flex-item-align:stretch;
      align-self:stretch;
  margin-left: auto;
}

.main-title {
  position: absolute;
  margin-top: 0;
  font-weight: 500;
  text-align: left;
}

@media (max-width: 700px) {
  .content__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
  }

  .sketchfab-embed-wrapper,
  .main-title {
    width: 100%;
  }

  .sketchfab-embed-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 60vh;
  }

  .main-title {
    position: relative;
    font-size: 1.6rem;
    text-align: center;
  }
}

.sketchfab-embed-wrapper > iframe {
  width: 100%;
  height: 95%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 700px) {
  .content__wrapper {
    width: 90%;
    padding: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .content__wrapper {
    width: 70%;
  }
}
@media (min-width: 1200px) {
  .content__wrapper {
    width: 60%;
  }
}
@media (min-width: 1600px) {
  .content__wrapper {
    width: 45%;
  }
}

.contact > li::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.contact__address::before {
  background-image: url('../assets/images/icon-adresse.png');
}

.contact__mail::before {
  background-image: url('../assets/images/icon-mail.png');
}

.contact__tel::before {
  background-image: url('../assets/images/icon-phone.png');
}